* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
}


.table-wrapper {
    width: 40vw;
    height: 40vw;
}

table {
    margin: 10px;
}


tr:first-child td {
    border-top-color: #2c4961;
}

tr:nth-child(3n) td {
    border-bottom-color:#2c4961;
}

td {
    width: 4vw;
    height: 4vw;
    margin: 0;
    padding: 0;
    border: 1px solid #afdffc;
}

td:first-child {
    border-left-color: #2c4961;
}

td:nth-child(3n) {
    border-right-color: #2c4961;
}


.cell {
    width: 4vw;
    height: 4vw;
    margin: 0;
    border: 0;
    outline: none;
    background: none;
    text-align: center;
    font-size: 26px;
    cursor:default;
}

.table-span {
    width: 4vw;
    height: 4vw;
    position: relative;
}

.table-span .cell {
    display: flex;
    justify-content: center;
    align-items: center;
}

.table-span .coordinates {
    display: none;
    width: 4vw;
    height: 4vw;
    position: absolute;
    top: -5vw;
    z-index: 1;
    cursor: default;
}

.table-span:hover .coordinates {
    display: flex;
    justify-content: center;
    align-items: center;
}

.table-span .coordinates ul {
    width: 4vw;
    height: 4vw;
    list-style: none;
    border: 1px solid crimson;
}
