* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.table-wrapper {
    width: 40vw;
    height: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid saddlebrown;
}

table {
    margin: 10px;
    border-spacing: 0;
}


tr:first-child td {
    border-top-color: #2c4961;
}

tr:nth-child(3n) td {
    border-bottom-color:#2c4961;
}

td {
    width: 4vw;
    height: 4vw;
    margin: 0;
    padding: 0;
    border: 1px solid #bcc6d4;
}

td:first-child {
    border-left-color: #2c4961;
}

td:nth-child(3n) {
    border-right-color: #2c4961;
}


.cell {
    width: 4vw;
    height: 4vw;
    margin: 0;
    border: 0;
    outline: none;
    background: none;
    text-align: center;
    font-size: 26px;
    cursor:default;
}

.table-span {
    width: 4vw;
    height: 4vw;
    position: relative;
}

.table-span .cell {
    display: flex;
    justify-content: center;
    align-items: center;
}

.table-span .coordinates {
    display: none;
    width: 4vw;
    height: 4vw;
    position: absolute;
    top: -5vw;
    z-index: 1;
    cursor: default;
}

.table-span:hover .coordinates {
    display: flex;
    justify-content: center;
    align-items: center;
}

.table-span .coordinates ul {
    width: 4vw;
    height: 4vw;
    list-style: none;
    border: 1px solid crimson;
}

.buttons {
    width: 40vw;
    height: 40vw;
    display: flex;
    flex-direction: column;
}

.solve {
    width: 15vw;
    height: 7vh;
    border: none;
    border-radius: 3px;
    background-color: #0074e3;
    color: #ffffff;
    font-size: larger;
}
